<config>
    <environment>
        <POSTGRESQL_USERNAME>yildirimege</POSTGRESQL_USERNAME>
        <POSTGRESQL_PASSWORD>123456</POSTGRESQL_PASSWORD>
        <POSTGRESQL_DB_NAME>postgres</POSTGRESQL_DB_NAME>
        <POSTGRESQL_HOST>postgres_db</POSTGRESQL_HOST>
        <POSTGRESQL_DB_PORT>5432</POSTGRESQL_DB_PORT>
        <TOKEN_EXPIRATION_TIME>60</TOKEN_EXPIRATION_TIME>
        <TOKEN_CLEAR_FREQUENCY>60</TOKEN_CLEAR_FREQUENCY>
        <LOG_LEVEL>DEBUG</LOG_LEVEL>
        <POSTGRESQL_SSL_MODE>require</POSTGRESQL_SSL_MODE>
        <BACKEND_APP_PORT>8080</BACKEND_APP_PORT>
    </environment>
</config>